#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

#define D_LT             LC(LG(LEFT))
#define D_RT             LC(LG(RIGHT))
#define TAB_RT           LG(TAB)
#define TAB_LT           LG(LS(TAB))
#define SCREENSHOT       LG(LS(N4))
#define SWITCH_LANG      LG(SPACE)
#define SWITCH_WINDOW    LG(GRAVE)
#define SPOTLIGHT        LA(SPACE)
#define CLOSE_WINDOW_WIN LA(F4)
#define PASTE_WITHOUT_FORMATING LA(LG(LS(V)))

#define D_1 LC(N1)
#define D_2 LC(N2)
#define D_3 LC(N3)
#define D_4 LC(N4)
#define D_5 LC(N5)

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <40>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <DEF>; \
  };

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <170>;
    quick-tap-ms = <200>;
};

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <170>;
    quick-tap-ms = <200>;
};

/ {
		macros {
			ZMK_MACRO(lang_switch,
					wait-ms = <20>;
					tap-ms = <20>;
					bindings = <&macro_press &kp LGUI>
					, <&macro_tap &kp SPACE>
					, <&macro_release &kp LGUI>;
      )
			ZMK_MACRO(hard_sign,
					wait-ms = <20>;
					tap-ms = <20>;
					bindings = <&macro_press &kp LALT>
					, <&macro_tap &kp W>
					, <&macro_release &kp LALT>;
      )
			ZMK_MACRO(colon_equal,
					wait-ms = <20>;
					tap-ms = <20>;
					bindings = <&macro_tap &kp COLON>
					, <&macro_tap &kp KP_EQUAL>;
      )
			ZMK_MACRO(logout_macos,
					wait-ms = <20>;
					tap-ms = <20>;
					bindings = <&macro_press &kp LCTRL>
          , <&macro_press &kp LGUI>
					, <&macro_tap &kp Q>
					, <&macro_release &kp LGUI>
					, <&macro_release &kp LCTRL>;
      )
		};
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
    combos {
      compatible = "zmk,combos";

      COMBO(color_equal, &colon_equal, 21 22)
      COMBO(underscore, &kp UNDERSCORE, 22 23)
      COMBO(ampersant, &kp AMPS, 22 23)
      COMBO(colon, &kp COLON, 17 18)
      COMBO(pipe, &kp PIPE, 16 17)
    };

keymap {
            compatible = "zmk,keymap";

            default_layer {
                    label = "DEF";
                    bindings = <
      &kp TAB           &kp Q     &kp W   &kp E         &kp R    &kp T         &kp Y    &kp U    &kp I         &kp O     &kp P      &kp LBKT
      &mt LCTRL MINUS   &kp A     &kp S   &kp D         &kp F    &kp G         &kp H    &kp J    &kp K         &kp L     &kp SEMI   &kp  SQT
      &mt LALT EQUAL    &kp Z     &kp X   &kp C         &kp V    &kp B         &kp N    &kp M    &kp COMMA     &kp DOT   &kp FSLH   &kp RBKT
                                     &lt RSE DEL  &kp LSFT   &mt RCTRL  ESC         &lt LWR ENTER  &kp SPACE &lt RSE BSPC
                    >;
            };
            lower_layer {
                    label = "LWR";
                    bindings = <
      &kp TILDE  &kp N1     &kp N2     &kp N3      &kp N4        &kp N5      &kp N6      &kp N7          &kp N8      &kp N9          &kp N0     &kp GRAVE
      &kp LCTRL  &kp EXCL   &kp AT     &kp HASH    &kp DLLR      &kp PRCNT   &kp CARET   &kp AMPS        &kp STAR    &kp LPAR        &kp RPAR   &none
      &kp LALT   &none      &none      &kp COLON   &kp KP_EQUAL  &none       &none       &kp PLUS        &kp MINUS   &kp UNDERSCORE  &kp BSLH   &none
                                          &trans   &trans     &trans      &trans      &trans     &trans
                    >;
            };
            raise_layer {
                    label = "RSE";
                    bindings = <
      &bootloader &logout_macos   &hard_sign    &kp SWITCH_WINDOW   &kp C_VOL_DN                   &kp C_VOL_UP   &kp HOME   &kp HOME       &kp PSCRN   &kp PG_UP   &kp SLCK          &bootloader
      &kp LCTRL   &kp D_1         &kp D_2       &kp D_3             &kp D_4                        &kp D_5        &kp LEFT   &kp DOWN       &kp UP      &kp RIGHT   &lang_switch      &none
      &kp LALT    &kp SCREENSHOT  &kp C_PREV    &kp C_NEXT          &kp PASTE_WITHOUT_FORMATING    &kp C_PP       &kp END    &kp END        &kp DOWN    &kp PG_DN   &kp PAUSE_BREAK   &none
                                               &trans      &trans      &trans    &trans    &trans     &trans
                    >;
            };
            adjust_layer {
                    label = "ADJ";
                    bindings = <
      &bootloader   &kp F9         &kp F10        &kp F11        &kp F12        &none          &none          &none          &none          &none          &none          &bootloader
      &bt BT_CLR    &kp F5         &kp F6         &kp F7         &kp F8         &none          &bt BT_SEL 4   &bt BT_SEL 3   &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0   &bt BT_CLR
      &sys_reset    &kp F1         &kp F2         &kp F3         &kp F4         &none          &none          &none          &none          &none          &none          &sys_reset
                                                  &trans         &none          &trans         &none          &trans         &trans
                    >;
            };
        };
};
